/* inizio caratteristiche preliminari */

body {
  font-family: Open Sans, Segoe UI, Tahoma, sans-serif; /* preso dal sito originale */
  font-size: 14px;
}

/* fine caratteristiche preliminari */

/* inizio caratteristiche generiche (riutilizzabili) */

  /* inizio container small e relativo debug */

  .container-small {
    max-width: 1000px;
    margin: 0 auto;
  }
  .container-small:after {
    content: '';
    display: table;
    clear: both;
  }
  .debug .container-small,
  .debug-noheight .container-small {
    border: 1px solid red;
    background: pink;
  }
  .debug .container-small [class*="col-"] {
    border: 1px solid blue;
    height: 300px;
  }
  .debug-noheight .container-small [class*="col-"] {
    border: 1px solid blue;
  }

  /* fine container small e relativo debug */

  /* inizio cose relative alla responsiveness */

  [class*="display"] {
    display: none;
  }

  @media screen and (max-width: 768px) {

    .xs-display {
      display: block;
    }

  }

  @media screen and (max-width: 992px) and (min-width: 768px) {

    .md-display {
      display: block;
    }

  }

  @media screen and (min-width: 993px) {

    .lg-display {
      display: block;
    }

  }
  /* fine cose relative alla responsiveness */

.verticalign {
  position: relative; /* l'absolute mi dava problemi, tanto funziona lo stesso per quello che devo fare */
  top: 50%;
  transform: translate(0,-50%);
}
.horizontalign {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

a {
  text-decoration: none;
}
p > a:not(.soon)::after {
  content: ' >';
}

ul.hlist > li {
  display: inline-block;
  padding: 0 5px;
}

.back-img {
  height: 300px;
  background-size: cover;
  background-position: center;
}
.back-img .text {
  color: white;
}

/* fine caratteristiche generiche (riutilizzabili) */

/* inizio caratteristiche specifiche */

#fixed {
  position: fixed;
  top: 0;
  height: 50px;
  font-size: 10px;
  z-index: 2;
}
#fixed .container-small {

}
#fixed img {
  vertical-align: middle;
}
#fixed .container-small > [class*="col-"]:first-child {
  text-align: left;
}
#fixed .container-small > [class*="col-"]:last-child {
  text-align: right;
  text-transform: uppercase;
}
#fixed #languages > li:not(:last-child) {
  border-right: 1px solid #9b9b9b;
}
#fixed a {
  color: #9b9b9b;
}

#jumbo {
  margin-top: 50px; /* per il fixed, provvisoria */
}
#jumbo.back-img {
  background-image: url(../img/hero-bg.jpg);
}

#products {
  text-align: center;
}
#products .grey {
  margin: 20px;
  background-color: lightgrey;
}
#products img {
  height: 300px;
}

#oldman .back-img {
  background-image: url(../img/HelbizBanner.jpg);
}
#oldman .special {
  position: relative;
}
#oldman .special img {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%,0);
  height: 500px;
  width: auto;
  z-index: 1;
}
#oldman .container > * {
  height: 250px;
}
#oldman .text {
  width: 50%;
  margin: 0 auto;
}

#marketing > * {
  padding: 10px;
}
#marketing > *:nth-child(1) .back-img {
  background-image: url(../img/ScooterHelbiz-2400.jpg);
}
#marketing > *:nth-child(1) .text {
  left: 60%;
  width: 30%;
  text-align: center;
}
#marketing > *:nth-child(2) > div {
  background: linear-gradient(#41566a, #252f38);
  overflow: hidden;
}
#marketing > *:nth-child(2) > div img {
  width: 100%;
}
#marketing > *:nth-child(3) .back-img {
  background-image: url(../img/Cities-1500.jpg);
}

#social.back-img {
  background-image: url(../img/Social-Banner.jpg);
}
#social .text {
  color: black;
  background-color: white;
}

/* fine caratteristiche specifiche */
