/* inizio caratteristiche preliminari */



/* fine caratteristiche preliminari */

/* inizio caratteristiche generiche */

/* .container-small {
  max-width: 1000px;
  margin: 0 auto;
} */

#fixed {
  position: fixed;
  top: 0;
  height: 100px; /* provvisoria */
}
#fixed .container {
  height: 100px; /* provvisoria */
}
.debug #fixed .container [class*="col-"] {
  height: 100%; /* provvisoria */
}

/* fine caratteristiche generiche */

/* inizio caratteristiche specifiche */

#jumbo {
  margin-top: 100px; /* per il fixed, provvisoria */
  height: 300px;
  background-color: red;
}

#oldman .special {
  position: relative;
}
#oldman .special img {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  z-index: 1;
}

/* fine caratteristiche specifiche */
