/* inizio caratteristiche preliminari */

body {
  font-family: Open Sans, Segoe UI, Tahoma, sans-serif; /* preso dal sito originale */
  font-size: 14px;
}

/* fine caratteristiche preliminari */

/* inizio caratteristiche generiche (riutilizzabili) */

  /* inizio container small e relativo debug */

  .container-small {
    max-width: 1000px;
    margin: 0 auto;
  }
  .container-small:after {
    content: '';
    display: table;
    clear: both;
  }
  .debug .container-small,
  .debug-noheight .container-small {
    border: 1px solid red;
    background: pink;
  }
  .debug .container-small [class*="col-"] {
    border: 1px solid blue;
    height: 300px;
  }
  .debug-noheight .container-small [class*="col-"] {
    border: 1px solid blue;
  }

  /* fine container small e relativo debug */

.verticalign {
  position: relative;
  top: 50%;
  transform: translate(0,-50%);
}

a {
  text-decoration: none;
}

ul.hlist > li {
  display: inline-block;
  padding: 0 5px;
}


/* fine caratteristiche generiche (riutilizzabili) */

/* inizio caratteristiche specifiche */

#fixed {
  position: fixed;
  top: 0;
  height: 50px;
  font-size: 10px;
  z-index: 1;
}
#fixed .container-small {

}
/* #fixed .container-small [class*="col-"] {

} */
/* #fixed .container-small .container {

} */
#fixed img {
  vertical-align: middle;
}
#fixed .container-small > [class*="col-"]:first-child {
  text-align: left;
}
#fixed .container-small > [class*="col-"]:last-child {
  text-align: right;
  text-transform: uppercase;
}
#fixed #languages > li:not(:last-child) {
  border-right: 1px solid #9b9b9b;
}
#fixed a {
  color: #9b9b9b;
}

#jumbo {
  margin-top: 50px; /* per il fixed, provvisoria */
}
#jumbo {
  height: 300px;
  background-image: url(../img/hero-bg.jpg);
  background-size: cover;
  background-position: center;
}
#jumbo .text {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  color: white;
}

#products {
  text-align: center;
}
#products .grey {
  margin: 20px;
  background-color: lightgrey;
}
#products img {
  height: 300px;
}

#oldman .special {
  position: relative;
}
#oldman .special img {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  z-index: 1;
}

/* fine caratteristiche specifiche */
